.loading{
    /* background-color: rgb(73, 60, 60); */
    width: 150px;
    height: 50px;
    animation: loading 0.7s  linear ;
}

@keyframes loading{
   
       0% {
        width: 0;
        
       }
       20% {
        width: 50px ;
        background-color: #000;
       }
       40%{
        width: 100px;
        background-color: #000;
       }
       100%{
        width: 150px;
        background-color: #000;
       }
      
      
}

.loading2{
    width: 150px;
    height: 50px;
    animation: loading2 0.7s 1 linear ;
}

@keyframes loading2{
    0% {
        width: 0;
        
       }
       20% {
        width: 50px ;
        background-color: rgb(107 114 128 );
       }
       40%{
        width: 100px;
        background-color: rgb(107,114,128);
       }
       100%{
        width: 150px;
        background-color: rgb(107,114,128);
       }
}